#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.StyledApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StyledContainer {
  border: 5px solid #ffdd00;
}
